* {
    margin: 0px;
    padding: 0px;
  }
  html {
    scroll-behavior: smooth !important;
  }
  body {
    background-color: white !important;
  }
  #main_navigation {
    z-index: 2 !important;
    height: 70px !important;
    background-color: #202C61;
    
  }
  div ul li a {
    color: white !important;
    /* font-family: "Montserrat", sans-serif !important; */
    font-family: "ALK Sanet" !important;
    background-color: transparent !important;
  }
  div ul li a::before {
    content: "" !important;
    width: 0% !important;
    height: 1px !important;
    display: block !important;
    background-color: white !important;
  }
  div ul li a:hover::before {
    width: 100% !important;
    transition: all 0.5s !important;
  }

  /* footer */
  .gradient {
    background-color: #202b61 !important;
    background-image: linear-gradient(#202b61, #ac62d3) !important;
    /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(21,51,133,1) 0%, rgba(32,44,97,1) 28%, rgba(0,157,102,1) 67%); */
  
  }
  /* end */
  
  /* projects */
  .project_description {
    font-family: "BPG Arial" !important;
  }
  .description_heading {
    font-family: "ALK Sanet" !important;
    font-weight: bold !important;
  }
  /* end */
  
/* gallery */
img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
}
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,44,255,0.27) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:rgba(255,0,39,0.55)}
